.about-container{
    padding: 5rem 1rem;
    font-weight: bold;
    color:#fff;
    background-color: #48d1cc;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.about-content{
    display: flex;
    display: block;
    text-align: center;
    margin:1rem;
    padding:10px;
}

.heading{
    text-align: center;
    font-family:'Caveat',cursive;
}

p{
    font-size: 1.5rem;
    margin: 3px;
    text-align: left;
}
.img {
    height:300px;
    width:350px;
}
