* {box-sizing:border-box}
/* #puppies{
  margin:120px 0px;
} */
.puppy-container {
  /* height:750px; */
  width:100%;
  padding:20px;
  /* align-items: center; */
}
.puppy-content{
  margin: 10px auto;
}
@media screen and (max-width:500px){
  .carousel-img{
    height: 300px;
  }
}