* {box-sizing:border-box}

.slide-container{
    height: 90vh;
    padding:5rem;
    color:black;
    font-weight: bold;
    font-size: 1.5rem;
    /* padding-top: 25rem; */
    background-color:  #fff;
    display: flex;
    display: inline-block;
    width:100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 550px;
  }
  .each-slide span {
    /* padding: 20px; */
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  