* {box-sizing:border-box}

.puppy-container {
  height:750px;
  width:100%;
  padding:30px;
  margin:20px;
  align-items: center;
}

.left{
  float:left;
  padding-right:1rem;
}
.right{
  float:right;
  padding-right:1rem;
}