@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Yanone+Kaffeesatz:wght@200&display=swap');
body{
    box-sizing: border-box;
}

nav {
    display: flex;
    display: inline-block;
    color:white;
    width:100%;
    position: fixed;
    margin:0;
    padding-top:15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color:  #48d1cc;
}

nav ol{
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color:white;
}
nav a:hover{
    text-decoration: none;
    color:#fff;
}
@media screen  and (min-width:2000px){
    nav{
      height: 8rem;
      font-size: 4rem;
    }
}
