.footer-container{
    display: flex;
    display: inline-block;
    align-content: center;
    justify-content: center;
    padding: 15px;
    width:100%;
    text-align: center;
    height:4rem;
    color:white;
    background-color: #48d1cc;
}
.icon{
    font-size: 2rem;
    margin:4px;
    color:white;
}
.icon:hover{
    font-size: 2rem;
    margin:4px;
    color:	black;
}
/* .icon-chat{
    font-size: 1.9rem;
    float:right;
} */
button{
    border:none;
    display: contents;
    background-color: transparent;
}
@media screen  and (min-width:2000px){
    .footer-container{
        height: 8rem;
    }
    .icon{
    font-size: 5rem;

    }
}
